---
layout: layouts/home.njk
---
<p><em>...coming soon!</em></p>

<img src="/img/SV_Hierarchy_pptx.png" alt="Silicon Valley Hierarchy of Needs 3.0" class="fit-picture">

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
