---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<p>Amy is a product-minded developer with a focus on the frontend. Throughout her career, Amy has been drawn toward problem solving around User Experience (UX) and Developer Experience (DX). When she’s not making the web a better place, Amy enjoys strolling her doge, gardening, and skiing.</p>

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
